
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Luxurious+Roman&family=Luxurious+Script&family=Open+Sans:ital,wght@1,600&family=Poppins:ital@1&family=Raleway:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
#css{
  font-variant: small-caps;
  font-weight: 200;
  font-style: italic;
}
p{
  font-size: 15px;
}